{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.dev, jz@strategio.dev)
 *}

{varType App\Model\CodeExamples $codeExamples}

<div class="py-5 bg-white" id="my-code">
    <div class="container">
        <h2 class="display-6 fw-bold mb-5 text-center">Jak vypadá můj zdrojový&nbsp;kód</h2>

        <div class="row" id="code-switcher">
            <div class="col-xl-2 col-xxl-3">
                <div class="rounded-1 bg-light d-flex d-xl-block w-100 overflow-auto mb-4 mb-xl-0">
                    {foreach $codeExamples->getAll() as $key => $c}
                        <button class="code-button {$c['active'] ? 'active'}" data-switcher-btn="{$key}">
                            <span class="text-nowrap">{$c['shortcut']}</span>
                        </button>
                    {/foreach}
                </div>
            </div>

            <div class="col-xl-10 col-xxl-9">
                <div class="shadow-lg" data-switcher-wrapper="code">
                    {foreach $codeExamples->getAll() as $key => $c}
                        <div class="rounded-1 switcher {$c['active'] ? 'active'}" id="{$key}">
                            <div class="fw-bold border-bottom border-white p-4 rounded-top bg-code">
                                <div class="text-white">
                                    <span>{$c['title']}</span>
                                </div>
                            </div>

                            <pre class="mb-0 rounded-bottom"><code class="language-{$c['type']} code-wrapper">{$c['code']}</code></pre>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>