{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.dev, jz@strategio.dev)
 *}

{extends './../@layout.latte'}

{block head}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>MealHack startup</title>
    <meta name="description" content="Aktuální stav a časová osa vývoje aplikace MealHack.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MealHack startup">
    <meta property="og:description" content="Aktuální stav a časová osa vývoje aplikace MealHack.">
{/block}

{block content}
    <header class="blog-header bg-radial">
        <div class="container text-white text-center">
            <div class="h1 fw-bold">MealHack startup</div>
            <h1 class="h5 mb-0">Aktuální stav a časová osa vývoje aplikace MealHack.</h1>
        </div>
    </header>

    {include './../component/mealhack-stats.latte'}
    {include './../component/timeline.latte'}
    {*include './../component/looking-for.latte'*}
    {include './../component/contact.latte'}

    <div class="overflow-hidden">
        {include './../component/subscriber.latte'}
        {include './../component/footer.latte'}
        {include './../component/copy.latte'}
    </div>
{/block}